body {
    margin: 0px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    min-height: 900px;
    background-color: #9DBEBB;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 954px;
    width: 100%;
    min-height: 594px;
    background-color: #BE0909;
}

.box {
    max-width: 345px;
    width: 100%;
    min-height: 594px;
    background-color: #FFB039;
}

.image {
    position: fixed;
    transform: translate(200px, 60px);
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(50px, 50px); /* is there a better way maybe*/
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: #FEFFFF;
    row-gap: 30px;
}

.label {
}

.input {
    background-color: #BE0909;
    border-style: none;
    padding: 5px, 7px; 
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: white;
    letter-spacing: 0.3em;
    border-bottom: solid white 1px;
}

/*when I fixed the box, the line was somehow messed up*/
.input-long {
    max-width: 500px;
    width: 100%;
}

.list:hover {
}

.submit {
    width: 202px;
    height: 48px;
    border-radius: 23px;
    background-color: #468189;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.submit:hover {
    opacity: 75%;
}
