body {
    margin: 0px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 900px;
    background-color: #9DBEBB;
    position: relative;
}

.container {
/*    display: flex;
    justify-content: end; */
    width: 954px;
    height: 594px;
    background-color: #BE0909;
}

.box {
    width: 345px;
    height: 594px;
    background-color: #FFB039;
    position: absolute;
    right: 243px;
}

.image {
    position: fixed;
    transform: translate(200px, 60px);
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
    color: #FEFFFF;
    row-gap: 30px;
}

.label {
}

.input {
    opacity: 100%;
    background-color: #BE0909;
    border-style: none;
    padding: 5px, 7px; 
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
}

.list {
}

.submit {
    width: 202px;
    height: 48px;
    border-radius: 23px;
    background-color: #468189;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
